<!-- <section class= "detail-shop-form">
  <form
    fxLayout ="column"
    fxLayoutAlign ="center center"
    fxLayoutGap ="10px"
    [formGroup] = "detailShopForm"
    (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
        type="name"
        matInput
        placeholder="Insert an name for the shop"
        formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input
        type="address"
        matInput
        placeholder="Insert an address for the shop"
        formControlName="address">
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" >Submit</button>
  </form>
</section> -->
